# TheNextChapter | In Conversation with Divya Gokulnath
# Template Environment Configuration

GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYED_SCRIPT_ID_HERE/exec
ALLOWED_EMAIL_DOMAIN=
PORT=3000
