# Google Apps Script & Sheet Config
SPREADSHEET_ID=18_HAVxoha6-lqeo2lrJFKsk2uCR7o9Re4wq4hLoAD7A
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/18_HAVxoha6-lqeo2lrJFKsk2uCR7o9Re4wq4hLoAD7A/edit?gid=1706680144#gid=1706680144
SHEET_NAME=Registrations

# Apps Script Web App Endpoint
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwWaYbYUoEe8lsJMLzwL1eyg3PZ8KTYeS_0SEeBJAfep3M1lIK-SsdDoAPvb6WzusJp/exec
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwWaYbYUoEe8lsJMLzwL1eyg3PZ8KTYeS_0SEeBJAfep3M1lIK-SsdDoAPvb6WzusJp/exec

# Event & Workshop Settings
EVENT_NAME="TheNextChapter | In Conversation with Divya Gokulnath"
ALLOWED_EMAIL_DOMAIN="somaiya.edu"
DAY2_UNSTOP_URL="https://unstop.com/o/q92LkeV?lb=B5P1VLE&utm_medium=Share&utm_source=bloomkjs6233&utm_campaign=Workshops"
 